[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DEBBI"]
	path = DEBBI
	url = https://github.com/bmgaldo/debbi
[submodule "graDiEnt"]
	path = graDiEnt
	url = https://github.com/bmgaldo/gradient
